/*
TABLE OF CONTENTS
  @ SECTION CLASSNAMES
  @ SECTION PADDING
  @ SCROLLBAR
  @ ICONS
  @ IMAGES
  @ ACCORDIONS
*/

/* SECTION CLASSNAMES */
  @utility background {
    background-color: oklch(from var(--section-bg-color) l c h / var(--section-bg-opacity, 1));
  }

  @utility container {
    @apply mx-auto;
  }

  @utility content {
    @apply section-p section-mx;
  }

/* SECTION PADDING */
  @utility section-px {
    padding-left: var(--theme-pl);
    padding-right: calc(var(--theme-pr) + var(--_scrollbar-gutter, 0px));
  }

  @utility section-py {
    padding-top: var(--theme-pt);
    padding-bottom: var(--theme-pb);
  }

  @utility section-p {
    @apply section-px section-py;
  }

  @utility section-my {
    margin-top: var(--theme-mt);
    margin-bottom: var(--theme-mb);
  }

  @utility section-mx {
    margin-left: var(--theme-ml);
    margin-right: var(--theme-mr);
  }

  @utility gutter-offset-p {
    margin-left: var(--theme-gutter-pl);
    margin-right: var(--theme-gutter-pr);
  }

  @utility gutter-offset-m {
    margin-left: var(--theme-gutter-ml);
    margin-right: var(--theme-gutter-mr);
  }

  @utility gutter-offset-full {
    margin-left: calc(var(--theme-gutter-pl) + var(--theme-gutter-ml));
    margin-right: calc(var(--theme-gutter-pr) + var(--theme-gutter-mr));
  }

/* SCROLLBAR */
  @utility scrollbar-gutter {
    --_scrollbar-gutter: var(--_scrollbar-active);
  }

/* ICONS */
  @utility theme-icon {
    @apply inline-block w-full h-full object-contain fill-current;
  }

/* IMAGES */
  @utility cover-center {
    @apply w-full h-full object-cover object-center;
  }

/* ACCORDIONS */
  @utility accordion-item-open {
    grid-template-rows: 1fr;
  }

  @utility accordion-item-close {
    grid-template-rows: 0fr;
  }

/* TYPOGRAPHY */
  @utility rte {
    &:not(.metafield-rich_text_field) > * + * {
      margin-top: var(--rte-mt);
    }

    > .metafield-rich_text_field > * + * {
      margin-top: var(--rte-mt);
    }
  }

  @utility type-d1 {
    @apply font-display text-d1;
    font-weight: var(--weight-display);
  }

  @utility type-d2 {
    @apply font-display text-d2;
    font-weight: var(--weight-display);
  }

  @utility type-d3 {
    @apply font-display text-d3;
    font-weight: var(--weight-display);
  }

  @utility type-h1 {
    @apply font-heading text-h1;
    font-weight: var(--weight-h1-2);
  }

  @utility type-h2 {
    @apply font-heading text-h2;
    font-weight: var(--weight-h1-2);
  }

  @utility type-h3 {
    @apply font-heading text-h3;
    font-weight: var(--weight-h3-4);
  }

  @utility type-h4 {
    @apply font-heading text-h4;
    font-weight: var(--weight-h3-4);
  }

  @utility type-h5 {
    @apply font-heading text-h5;
    font-weight: var(--weight-h5-6);
  }

  @utility type-h6 {
    @apply font-heading text-h6;
    font-weight: var(--weight-h5-6);
  }

  @utility type-b1 {
    @apply font-body text-b1;
    font-weight: var(--weight-body);
  }

  @utility type-b2 {
    @apply font-body text-b2;
    font-weight: var(--weight-body);
  }

  @utility type-b3 {
    @apply font-body text-b3;
    font-weight: var(--weight-body);
  }

  @utility type-label {
    @apply font-heading text-label;
    font-weight: var(--weight-label);
  }