@theme inline {
  --color-default: var(--c-default);
  --color-midnight: var(--c-midnight);
  --color-cobalt: var(--c-cobalt);
  --color-seafoam: var(--c-seafoam);
  --color-ivory: var(--c-ivory);
  --color-stone: var(--c-stone);
}

@layer base {
  :root {
    --_scrollbar-active: 0px;
  }

  [data-overflow-hidden] {
    --_scrollbar-active: var(--scrollbar-width);
  }
}

@utility background {
  background-color: oklch(from var(--section-bg-color) l c h / var(--section-bg-opacity, 1));
}

@utility container {
  @apply mx-auto;
}

@utility content {
  @apply section-p section-mx;
}

@utility section-px {
  padding-left: var(--theme-pl);
  padding-right: calc(var(--theme-pr) + var(--_scrollbar-gutter, 0px));
}

@utility section-py {
  padding-top: var(--theme-pt);
  padding-bottom: var(--theme-pb);
}

@utility section-p {
  @apply section-px section-py;
}

@utility section-my {
  margin-top: var(--theme-mt);
  margin-bottom: var(--theme-mb);
}

@utility section-mx {
  margin-left: var(--theme-ml);
  margin-right: var(--theme-mr);
}

@utility gutter-offset-p {
  margin-left: var(--theme-gutter-pl);
  margin-right: var(--theme-gutter-pr);
}

@utility gutter-offset-m {
  margin-left: var(--theme-gutter-ml);
  margin-right: var(--theme-gutter-mr);
}

@utility gutter-offset-full {
  margin-left: calc(var(--theme-gutter-pl) + var(--theme-gutter-ml));
  margin-right: calc(var(--theme-gutter-pr) + var(--theme-gutter-mr));
}

@utility scrollbar-gutter {
  --_scrollbar-gutter: var(--_scrollbar-active);
}

@utility theme-icon {
  @apply inline-block w-full h-full object-contain fill-current;
}

@utility cover-center {
  @apply w-full h-full object-cover object-center;
}